.about-content {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(0, 0, 0, 0.5);
    line-height: 2;
    padding: 7rem;
    margin-top: 300px;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-row {
    display: flex;
    flex-direction: row;
}

.about-column {
    flex: 1;
    margin-right: auto;
}

.about-heading {
    font-size: 24px;
    /* margin-bottom: 10px; */
    text-align: center;
    color: #fff9f9;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 50px;
    letter-spacing: 5px;
}

.about-heading span {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 10em;
    font-weight: 700;
    margin: 20%;
    transition: all 0.5s ease; 
}

.about-heading span:hover {
    transform: scale(1.1); /* Corrected syntax for scaling */
}


.about-box {
    padding: 40px;
    background: #17121757;
    box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
    border-radius: 40px;
}

.about-boxHeading {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff9f9;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    font-weight: 800;
}

.about-label {
    color: #ffffff;
    font-size: 2em;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 3px;
}

.about-input,
.about-textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 12px;
    margin-bottom: 1rem;
}

.about-textarea {
    height: 100px;
}

.about-button {
    color: #000;
    border: none;
    border-radius: 40px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
    justify-content: center;
    /* margin-left: 50px; */
    margin: 0 50px 0 140px;
    font-weight: 800;
    padding: auto;
}
.about-button:hover{
    background-color: #3407ff57;
    transform: scale(1.1);

}

.about-formMessage,
.about-submitting {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    display: none;
}

