/* Content Card Styles */
.cardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 150px 120px;
  padding: auto;
}
.contentCard {
  position: relative;
  width: 20em;
  height: 15em;
  background: linear-gradient(-45deg, #f89b29e3 0%, #ff0f7bd6 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  margin-bottom: 30px;
}

.contentCard svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.contentCard:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding-left: 12px;
  padding-top: 12px;
  box-sizing: border-box;
  background-color: #1402022b;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.contentCard:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #050202;
  line-height: 1.4;
}

.contentCard:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}

/* Container for Centering */


/* Responsive Book Styles */
.book {
  position: relative;
  border-radius: 10px;
  width: 282px;
  height: 380px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 10px #46c3f5;
  /* transform: perspective(); */
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: #1e5c7a;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book:hover .cover {
  transition: all 0.5s;
  transform: rotateY(-80deg);
}

.book span {
  font-size: 12px;
  font-weight: 100;
  margin: 0 7rem;

}

/* Button Style */
#button {

  position: relative;
  width: 120px;
  height: 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: none;
  padding: 12px;
  margin: 20px auto;
  gap: 12px;
  border-radius: 8px;
}
