.vidContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 36.5rem;
}
.vid-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  justify-content: space-between;
}
.youtube-container{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
}
.youtube-container iframe{
  width: 40rem;
  height: 20rem;
  border-radius: 10px;
  border: 1px solid #606060;
}
.matbutton {
  color: #ffffff;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #001829;
  cursor: pointer;
  border: 1px solid #000000;
  transition: all 0.3s;
  box-shadow: 2px 2px 3px #0b147b, -3px -3px 5px #1e0c48;
}

.matbutton:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #160a4b, inset -4px -4px 12px #ffffff;
}
